<br>
<div class="container">
<form class="row g-3">
    <div class="col-4">
      <label for="placa" class="form-label">Placa Vehiculo</label>
      <input type="text" class="form-control" id="placa" placeholder="Digite la placa del vehiculo">
    </div>
    <div class="col-md-4">
        <label for="tipovehiculo" class="form-label">Tipo Vehiculo</label>
        <select id="tipovehiculo" class="form-select">
          <option selected>Seleccione Tipo Vehiculo</option>
          <option>Automovil</option>
          <option>Motocicleta</option>
          <option>Camioneta</option>
          <option>Camion</option>
        </select>
      
    </div>
    <div class="col-md-4">
        <label for="marca" class="form-label">Marca</label>
        <select id="marca" class="form-select">
          <option selected>Seleccione la marca</option>
          <option>Chevrolet</option>
          <option>Renaut</option>
        </select>
      </div>
    <div class="col-md-4">
      <label for="programa" class="form-label">Programa de Mantenimiento</label>
      <select id="programa" class="form-select">
        <option selected>Seleccionar programa...</option>
        <option>Gases</option>
        <option>Mantenimiento general</option>
        <option>Lavada</option>
      </select>
    </div>
    <div class="col-md-2">
      <label for="inputZip" class="form-label">Fecha</label>
      <input type="text" class="form-control" id="inputZip">
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
  </form>
</div>